{#
Position node

from        old position, "out of combat", "in control", or "in a bad spot"
to          new position, same as from values
from_slug   shortened name of the old position, one of "nocombat", "control", or "badspot"
to_slug     shortened name of the new position, same as from_slug values

#}
<div class="ivm-position ivm-position-{{ to_slug }}">
    <span class="ivm-position-{{ from_slug }}">{{ from|capitalize }}</span> &amp;rarr;
    <span class="ivm-position-{{ to_slug }}">{{ to|capitalize }}</span>
</div>