{#
Progress-roll node

name        progress track name
score       value of the progress on the track
vs1         value of the first challenge die
vs2         value of the second challenge die
hitmiss     outcome of the roll, "strong", "weak", or "miss"
match       true if challenge dice are a match

#}
<div class="ivm-roll ivm-roll-{{ hitmiss }}{{ " ivm-roll-match" if match }}">
    Roll Progress for
    <span class="ivm-track-name">{{ name }}</span>:
    <span class="ivm-roll-score">{{ score }}</span> vs
    <span class="ivm-roll-vs">{{ vs1 }}</span> |
    <span class="ivm-roll-vs">{{ vs2 }}</span>
    <span class="ivm-roll-outcome">{{ hitmiss }}{{ " WITH MATCH!" if match }}</span>
</div>