{#
Reroll node

die         name of the die that was rerolled, "action", "vs1", or "vs2"
old_value   old value of the die to be replaced
value       value of the new die roll
score       total value of the action die + stat + adds of the currently rerolled initial roll
vs1         value of the first challenge die of the currently rerolled initial roll
vs2         value of the second challenge die of the currently rerolled initial roll
hitmiss     new outcome of the roll, "strong", "weak", or "miss"
match       true if challenge dice are a match

#}
<div class="ivm-reroll ivm-roll-{{ hitmiss }}{{ " ivm-roll-match" if match }}">
    Reroll
    <span class="ivm-reroll-name">{{ die }}</span>
    <span class="ivm-reroll-value-old">{{ old_value }}</span> &amp;rarr;
    <span class="ivm-reroll-value-new">{{ value }}</span> =
    <span class="ivm-roll-score">{{ score }}</span> vs
    <span class="ivm-roll-vs">{{ vs1 }}</span> |
    <span class="ivm-roll-vs">{{ vs2 }}</span>
    <span class="ivm-roll-outcome">{{ hitmiss }}{{ " WITH MATCH!" if match }}</span>
</div>