body {
    margin: 0px;
    background-color: #333;
}

.ivm-content {
    display: block;
    width: 60%;
    margin: 10px auto;
    padding: 10px 40px;
    background-color: #ccc;
}

.ivm-link {
    text-decoration: underline;
}


.ivm-mechanics {
    padding: 10px;
    margin: 20px auto;
    width: 50%;
    display: block;
    border: 1px solid black;
    background-color: #999;
}


.ivm-move {

}

.ivm-move-name {
    font-weight: bold;
    margin-bottom: 10px;
}


.ivm-node {
}


/*
 * Nodes
 */

.ivm-add {
}


.ivm-clock {
}


.ivm-meter {
}

.ivm-meter-increase {
    background-color: #0c0;
}
.ivm-meter-decrease {
    background-color: #c00;
}

.ivm-meter-burn {
}


.ivm-ooc {
}


.ivm-oracle {
}


.ivm-position {
    
}

.ivm-position-nocombat {
    background-color: #999;
}
.ivm-position-control {
    background-color: #c09;
}
.ivm-position-badspot {
    background-color: #0c9;
}


.ivm-progress {
    background-color: #ccc;
}


.ivm-reroll {

}


.ivm-roll {
    color: #000
}

.ivm-roll-miss {
    background-color: #c00;
}

.ivm-roll-weak {
    background-color: orange;
}

.ivm-roll-strong {
    background-color: #0c0;
}

.ivm-roll-match {
    font-weight: bold;
}


.ivm-track {
}

