{#
Burn momentum node

from        old momentum value
to          new momentum value
score       new roll score (which should be the same as the old momentum value)
vs1         value of the first challenge die of the roll the momentum was burnt for
vs2         value of the second challenge die of the roll the momentum was burnt for
hitmiss     outcome of the roll, "strong", "weak", or "miss"
match       true if challenge dice are a match

#}
<div class="ivm-meter ivm-meter-burn ivm-roll-{{ hitmiss }}{{ " ivm-roll-match" if match }}">
    Burn Momentum:
    <span class="ivm-meter-burn-from">{{ from }}</span> &amp;rarr;
    <span class="ivm-meter-burn-to">{{ to }}</span> =
    <span class="ivm-roll-score">{{ score }}</span> vs
    <span class="ivm-roll-vs">{{ vs1 }}</span> |
    <span class="ivm-roll-vs">{{ vs2 }}</span>
    <span class="ivm-roll-outcome">{{ hitmiss }}{{ " WITH MATCH!" if match }}</span>
</div>